nelmio_api_doc:
  documentation:
    info:
      title: Booking Hub API
      description: API REST pour gérer les ressources et réservations
      version: 1.0.0

    components:
      securitySchemes:
        bearerAuth:
          type: http
          scheme: bearer
          bearerFormat: JWT

    security:
      - bearerAuth: []

  areas:
    path_patterns:
      - ^/api(?!/doc$)
